<h1>JMeter performance test - type : jmeter_performance_type</h1>

<p>Date begin : date_begin_value / Date end : date_end_value </p>

<p><a target="_blank" href="dashboard/index.html">JMeter results</a></p>
<p>Grafana Dashboards :</p>
<ul>
    <li><a target="_blank" href="http://vsprd-1.intra.lab:3000/d/Ch4XVQbWz/node-exporter-full?orgId=1&from=date_begin_value_timestamp&to=date_end_value_timestamp&var-job=node-exporter-vsprd-1&var-name=f1d498ddc9a4&var-node=node-exporter&var-port=9100">Node exporter - vsprd-1</a></li>
    <li><a target="_blank" href="http://vsprd-1.intra.lab:3000/d/Ch4XVQbWz/node-exporter-full?orgId=1&var-job=node-exporter-vsprd-2&var-name=1d6368977b85&var-node=vsprd-2&var-port=9100&from=date_begin_value_timestamp&to=date_end_value_timestamp">Node exporter - vsprd-2</a></li>
    <li><a target="_blank" href="http://vsprd-1.intra.lab:3000/d/64nrElFmk/docker-prometheus-monitoring?orgId=1&from=date_begin_value_timestamp&to=date_end_value_timestamp">cAdvisor</a></li>
    <li><a target="_blank" href="http://vsprd-1.intra.lab:3000/d/gAyjg5vWz/jvm-micrometer?orgId=1&from=date_begin_value_timestamp&to=date_end_value_timestamp">JVM Micrometer</a></li>
    <li><a target="_blank" href="http://vsprd-1.intra.lab:3000/d/6-kPlS7ik/mysql-prometheus?orgId=1&from=date_begin_value_timestamp&to=date_end_value_timestamp">MySQL Exporter</a></li>
</ul>

<p>You will find here all variables for this test :</p>

<ul>
  <li>wait_before_after_performance_testing : wait_before_after_performance_testing_value </li>
  <li>nb_requests_per_user_per_minute : nb_requests_per_user_per_minute_value </li>
  <li>weight_get_a_pet_by_id : weight_get_a_pet_by_id_value </li>
  <li>weight_post_a_pet : weight_post_a_pet_value </li>
  <li>weight_put_a_pet : weight_put_a_pet_value </li>
  <li>weight_delete_a_pet : weight_delete_a_pet_value </li>
  <li>weight_get_a_pet_by_status : weight_get_a_pet_by_status_value </li>
  <li>nb_users : nb_users_value </li>
  <li>wait_for_in_seconds : wait_for_in_seconds_value </li>
  <li>then_start_nb_threads : then_start_nb_threads_value </li>
  <li>next_add_nb_threads : next_add_nb_threads_value </li>
  <li>next_add_nb_threads_every_x_seconds : next_add_nb_threads_every_x_seconds_value </li>
  <li>ramp_up_in_seconds : ramp_up_in_seconds_value </li>
  <li>hold_for_in_seconds : hold_for_in_seconds_value </li>
  <li>finally_stop_nb_threads : finally_stop_nb_threads_value </li>
  <li>finally_stop_nb_threads_every_x_seconds : finally_stop_nb_threads_every_x_seconds_value </li>
</ul>
